<h1>List of photos</h1>
<hr>

<form action="/add_photo" method="post">
  <label for="browser_image">Image</label>
  <input id="browser_image" type=text placeholder="Enter a URL for the image" name="input_image" value="">

  <label for="browser_caption">Caption</label>
  <textarea id="browser_caption" type=text placeholder="Enter a caption for the photo..." name="input_caption"></textarea>
  
  <label for="browser_owner_id">Owner</label>
  <input id="browser_owner_id" type=text placeholder="Enter an ID of a User" name="input_owner_id">

  <button>Add photo</button>
</form>
<table border="1">
  <tr>
    <th>Image</th>
    <th>Caption</th>
    <th>Owner</th>
    <th>Posted</th>
    <th></th>

  </tr>
  <% @list_of_photos.each do |a_photo|%>
  <tr>
    <td><img src=<%=a_photo.image%> alt=""></td>
    <td><%=a_photo.caption%></td>
    <td><%=a_photo.poster.username%></td>
    <td><%=a_photo.created_at%></td>
    <td><a href="photos/<%= a_photo.id%>">Show details</a></td>
  </tr>
  <%end%>
</table>
